@font-face {
    font-family: 'MICEGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

html > body > header, .subPage-title {
	font-family: 'MICEGothic Bold';
}
html > body, html>body .toast-ui-editor, html>body .toastui-editor-contents, html>body .ProseMirror, html>body .toastui-editor-md-mode {
	font-family: 'MICEGothic';
	text-underline-position: under;
}

/* 라이브러리 */
.table-box-type-1 > table {
	width: 100%;
}
.table-box-type-1>table th, .table-box-type-1>table td {
	text-align: center;
}
.table-box-type-1 thead > tr > th {
	background-color: transparent;
	font-size: 22px;
	position:relative !important;
	top: -20px;
}

/* 커스텀 */
input:focus {
	outline: none;
}
.subPage-title {
	font-size: 35px;
}
body {
	min-height: 100vh;
	min-width: 800px;
	background-color: #fffcf9;
	color: #404040;
	max-width: 100vw;
	overflow-x: hidden;
}
.lh-48px {
	line-height: 48px;
}
.lh-50px {
	line-height: 50px;
}
.mb-20px {
	margin-bottom: 20px;
}
.btn-group .btn-active {
	background-color: #d3d4d7;
	border: 0;
	color: black;
}
.pageChangeBtn {
	line-height: 48px;
	font-size: 14px;
}
.pageChangeBtn.left {
	margin-right: 15px;
}
.pageChangeBtn.right {
	margin-left: 15px;
}
.articleCountNum {
	width: 200px;
}
.searchInput {
	background-color: #fffcf9;
	line-height: 50px;
	box-sizing: border-box;
	width: 200px;
	border-bottom: 2px solid;
}
.searchInput:focus {
	outline: none;
}
.white-board {
	border-radius: 30px;
	padding: 5%;
	background-color: white;
	box-sizing: border-box;
	position: relative;
}
.white-board-reply {	
	border-radius: 30px;
	padding: 2% 5%;
	background-color: white;
	box-sizing: border-box;
	position: relative;
}

/* colorConcept */

/* #727272 */
.dropShadow-black {
	box-shadow: 0px 4px 15px 0px rgba(0,0,0,.2);
}
.myGray {
	color: #434343;
}
.myGray-border {
	border-color: #727272;
}
.myGray-bgc {
	background-color: #727272 !important;
	border: 0;
}
.myGray-bgc-hover {
	background-color: rgba(114, 114, 114, 0.3);	
}

/* #EED3D0 */
.dropShadow-pink {
	box-shadow: 0px 4px 15px 0px rgba(238, 211, 208, 0.5);
}
.myPink {
	color: #B86960;
}
.myPink-border {
	border-color: #EED3D0;
}
.myPink-bgc {
	background-color: #EED3D0 !important;
}
.myPink-bgc-hover {
	background-color: rgba(238, 211, 208, 0.3);	
}

/* #C2E2C5 */
.dropShadow-green {
	box-shadow: 0px 4px 15px 0px rgba(194, 226, 197, 0.3);
}
.myGreen {
	color: #468A4D;
}
.myGreen-border {
	border-color: #C2E2C5;
}
.myGreen-bgc {
	background-color: #C2E2C5 !important;
}
.myGreen-bgc-hover {
	background-color: rgba(194, 226, 197, 0.3);	
}

.hoverLine:hover td:first-child {
	border-radius: 30px 0 0 30px;
}
.hoverLine:hover td:last-child {
	border-radius: 0 30px 30px 0;
}

.Popup {
	font-size: 3rem;
}

/* 신고창 */
.reportFormWrap {
	z-index: 100;
	position: absolute;
	background-color: white;
	display: inline-block;
	border: 1px solid black;
	font-size: 15px;
	padding: 10px;
}
.reportFormWrap .report-label {
	display: block;
}
.reportFormWrap .report-label input {
	margin-right: 5px;
}
.report-btn {
	width: 100%;
	margin-top: 10px;
}

/* myBookmark 페이지 */
.myBookmarks-btns {
	top: 0;
}
.bookmarkedArticle {
	border-radius: 10px;
	width: 30%;
	height: 30%;
	padding: 10%;
	box-sizing: border-box;
	margin-right: 5%;
	margin-bottom: 3%;
	background-color: #fff;
	text-align: center;
	background-position: center;
    background-size: cover;
    background-image:url(https://cdn.pixabay.com/photo/2014/09/27/17/35/dandelion-463928_960_720.jpg);
    position: relative;
    top: 0;
    transition: .1s;
}
.bookmarkedArticle:nth-child(3n) {
	margin-right: 0;
}
.bookmarkedArticle:nth-last-child(-n+3) {
	margin-bottom: 0;
}
.bookmarkedArticle-title {
	background-color: rgba(255,255,255,.5);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	padding: 10px;
	border-radius: 10px;
}
.noArticleSign {
	text-align: center;
	padding-top: 10px;
}
.goUp {
	top: -10px;
}

/* myPage 페이지 */
.btns {
	position: relative;
}
.withdraw-btn {
	position: absolute;
	right: 0;
}

/* list 페이지 */
.searchInput-wrap {
	margin-bottom: 20px;
}
.table-wrapper {
	height: 600px;
}
.circle-btn {
	border-radius: 50%;
	width: 50px;
	height: 50px;
}
.circle-btn i {
	font-size: 25px;
	color: white;
}
.page-btn {
	border-radius: 50%;
}
.page-btn-active {
	border-radius: 50%;
	color: white;
	font-size: 20px;
}
.write-btn {
	position: absolute;
	right: 20px;
	bottom: 15px;
	background-color: #e24b4b !important;
}

/* main 페이지 */
.main-table-wrapper {
	padding: 2%;
	height: 380px;
}
.main-subPage {
	width: 48%;
}
.main-subPage:nth-child(2) {
	float: left;
}
.main-subPage:last-child {
	float: right;
}

/* menu-bar */
.menu-bar-wrapper.active .menu-bar-background {
	visibility: visible;
}
.menu-bar-background {
	width: 100%;
	height: 100%;
	background-color: transparent;
	position: absolute;
	top: 0;
	z-index: 5;
	visibility:hidden;
}
.menu-bar {
    transition: .5s;
	width: 20%;
	height: 100%;
	background-color: #fff;
	position: absolute;
	top: 0;
	right: -20%;
	z-index: 10;
	padding: 8% 5%;
}
.menu-bar-wrapper.active .menu-bar {
	right: 0;
}
.menu-bar i {
	font-size: 50px;
	position: absolute;
	right: 10%;
	top: 3%;
}
.menus ul li a span {
	font-size: 30px;
	font-family: 'MICEGothic Bold';
	margin: 0 auto;
	line-height: 3;
}
.menu-bar .menu-notice {
	border-top: 2px solid rgba(64, 64, 64, 0.5);
	padding-top: 6%;
	margin-top: 6%;
}
.menu-bar .menu-writing {
	border-bottom: 2px solid rgba(64, 64, 64, 0.5);
	padding-bottom: 6%;
	margin-bottom: 6%;
}


/* tableForm */
.tableForm tbody tr {
	line-height: 50px;
}
.tableForm tbody tr th {
	text-align: right !important;
	padding-right: 1.25rem;
}
.tableForm tbody tr td {
	text-align: left !important;
	padding-left: 1.25rem;
}

/* login */
.under-btns {
	font-family: 'MICEGothic Bold';
	color: #727272;
}
.under-btns a:first-child {
	border-right: 2px solid #727272;
	padding-right: 15px;
	margin-right: 15px;
}
.under-btns a:last-child {
	border-left: 2px solid #727272;
	padding-left: 15px;
	margin-left: 15px;
}
.textInput {
	background-color: transparent;
	border-bottom: 2px solid #727272;
}
.text-right-must {
	text-align: right !important;
}
.text-left-must {
	text-align: left !important;
}
.two-btns-last {
	border: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
}

/* join */
.loginId-msg {
	display: inline-block;
	margin-left: 1.25rem;
	font-family: 'MICEGothic Bold';
}
.loginPwConfirm-msg {
	display: inline-block;
	margin-left: 1.25rem;
	font-family: 'MICEGothic Bold';
	
}